.photo-size{
    max-height: 60vh;
    width: auto;
}
.not-rotated{
    transform:rotate(0);
}
.rotated90{
    transform:rotate(90deg);
}
.rotated180{
    transform:rotate(180deg);
}
.rotated270{
    transform:rotate(270deg);
}